BEGIN;

python.exe : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:1 char:1
+ & "C:\Users\elaro\AppData\Local\Temp\opencode\mpvenv\Scripts\python.e ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> 0001_initial, initial schema
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

CREATE TABLE marketplaces (
    id SERIAL NOT NULL, 
    code VARCHAR(3) NOT NULL, 
    marketplace_id VARCHAR(14) NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    iso VARCHAR(7) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (code), 
    UNIQUE (marketplace_id)
);

CREATE TABLE sellers (
    id SERIAL NOT NULL, 
    name VARCHAR(120) NOT NULL, 
    story VARCHAR(500) DEFAULT '' NOT NULL, 
    credentials_ref VARCHAR(300) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE TABLE spapi_creds (
    id SERIAL NOT NULL, 
    seller_id INTEGER NOT NULL, 
    auth_model VARCHAR(20) NOT NULL, 
    client_id_arn VARCHAR(300) DEFAULT '' NOT NULL, 
    iam_role_arn VARCHAR(300) DEFAULT '' NOT NULL, 
    merchant_token_arn VARCHAR(300) DEFAULT '' NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(seller_id) REFERENCES sellers (id) ON DELETE CASCADE
);

CREATE TABLE settings (
    key VARCHAR(80) NOT NULL, 
    value TEXT DEFAULT '' NOT NULL, 
    PRIMARY KEY (key)
);

CREATE TABLE notif_subscriptions (
    id SERIAL NOT NULL, 
    seller_id INTEGER NOT NULL, 
    notification_type VARCHAR(80) NOT NULL, 
    destination_arn VARCHAR(300) NOT NULL, 
    status VARCHAR(20) DEFAULT 'active' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(seller_id) REFERENCES sellers (id) ON DELETE CASCADE
);

CREATE TABLE app_users (
    sub VARCHAR(128) NOT NULL, 
    email VARCHAR(255) DEFAULT '' NOT NULL, 
    display_name VARCHAR(120) DEFAULT '' NOT NULL, 
    role VARCHAR(20) DEFAULT 'viewer' NOT NULL, 
    prefs JSONB, 
    PRIMARY KEY (sub)
);

CREATE TABLE products (
    id SERIAL NOT NULL, 
    asin VARCHAR(10) NOT NULL, 
    title TEXT DEFAULT '' NOT NULL, 
    brand VARCHAR(120) DEFAULT '' NOT NULL, 
    image_url TEXT DEFAULT '' NOT NULL, 
    category VARCHAR(120) DEFAULT '' NOT NULL, 
    attributes JSONB, 
    PRIMARY KEY (id), 
    UNIQUE (asin)
);

CREATE TABLE price_snapshots (
    id SERIAL NOT NULL, 
    product_id INTEGER NOT NULL, 
    marketplace_id INTEGER NOT NULL, 
    ours BOOLEAN DEFAULT true NOT NULL, 
    price NUMERIC(12, 2), 
    buybox NUMERIC(12, 2), 
    sales_rank INTEGER, 
    currency VARCHAR(3) NOT NULL, 
    captured_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(product_id) REFERENCES products (id) ON DELETE CASCADE, 
    FOREIGN KEY(marketplace_id) REFERENCES marketplaces (id)
);

CREATE TABLE orders (
    id SERIAL NOT NULL, 
    seller_id INTEGER NOT NULL, 
    marketplace_id INTEGER NOT NULL, 
    amazon_order_id VARCHAR(40) NOT NULL, 
    purchase_date TIMESTAMP WITH TIME ZONE, 
    latest_delivery_date TIMESTAMP WITH TIME ZONE, 
    status VARCHAR(30) DEFAULT 'Pending' NOT NULL, 
    buyer_name VARCHAR(120) DEFAULT '' NOT NULL, 
    city VARCHAR(120) DEFAULT '' NOT NULL, 
    state_or_region VARCHAR(120) DEFAULT '' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(seller_id) REFERENCES sellers (id) ON DELETE CASCADE, 
    FOREIGN KEY(marketplace_id) REFERENCES marketplaces (id), 
    UNIQUE (amazon_order_id)
);

CREATE TABLE order_items (
    id SERIAL NOT NULL, 
    order_id INTEGER NOT NULL, 
    product_id INTEGER NOT NULL, 
    asin VARCHAR(10) NOT NULL, 
    seller_sku VARCHAR(80) DEFAULT '' NOT NULL, 
    quantity INTEGER DEFAULT '1' NOT NULL, 
    unit_price NUMERIC(12, 2), 
    item_currency VARCHAR(3) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(order_id) REFERENCES orders (id) ON DELETE CASCADE, 
    FOREIGN KEY(product_id) REFERENCES products (id)
);

CREATE TABLE fees (
    id SERIAL NOT NULL, 
INFO  [alembic.runtime.migration] Running upgrade 0001_initial -> 0002_order_sync, order sync support + demo seller
INFO  [alembic.runtime.migration] Running upgrade 0002_order_sync -> 0003_reports, reports sync (settlements) support
    order_item_id INTEGER NOT NULL, 
    fee_type VARCHAR(80) NOT NULL, 
    amount NUMERIC(12, 2) NOT NULL, 
    currency VARCHAR(3) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(order_item_id) REFERENCES order_items (id) ON DELETE CASCADE
);

CREATE TABLE settlements (
    id SERIAL NOT NULL, 
    seller_id INTEGER NOT NULL, 
    marketplace_id INTEGER NOT NULL, 
    posted_date TIMESTAMP WITH TIME ZONE, 
    gross NUMERIC(12, 2), 
    fees NUMERIC(12, 2), 
    net NUMERIC(12, 2), 
    currency VARCHAR(3) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(seller_id) REFERENCES sellers (id) ON DELETE CASCADE, 
    FOREIGN KEY(marketplace_id) REFERENCES marketplaces (id)
);

CREATE TABLE inventory (
    id SERIAL NOT NULL, 
    product_id INTEGER NOT NULL, 
    condition VARCHAR(30) DEFAULT 'New' NOT NULL, 
    quantity INTEGER DEFAULT '0' NOT NULL, 
    snapped_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(product_id) REFERENCES products (id) ON DELETE CASCADE
);

CREATE TABLE reports (
    id SERIAL NOT NULL, 
    report_kind VARCHAR(80) NOT NULL, 
    marketplace_id INTEGER, 
    report_id VARCHAR(120) DEFAULT '' NOT NULL, 
    status VARCHAR(30) DEFAULT 'requested' NOT NULL, 
    s3_key TEXT DEFAULT '' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(marketplace_id) REFERENCES marketplaces (id)
);

CREATE TABLE pipeline_runs (
    id SERIAL NOT NULL, 
    job VARCHAR(60) NOT NULL, 
    marketplace_id INTEGER, 
    status VARCHAR(20) DEFAULT 'running' NOT NULL, 
    started TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    finished TIMESTAMP WITH TIME ZONE, 
    rows INTEGER DEFAULT '0' NOT NULL, 
    error TEXT DEFAULT '' NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(marketplace_id) REFERENCES marketplaces (id)
);

CREATE TABLE alerts (
    id SERIAL NOT NULL, 
    kind VARCHAR(40) NOT NULL, 
    severity VARCHAR(10) DEFAULT 'info' NOT NULL, 
    ref_type VARCHAR(30) DEFAULT '' NOT NULL, 
    ref_id INTEGER DEFAULT '0' NOT NULL, 
    message TEXT DEFAULT '' NOT NULL, 
    seen BOOLEAN DEFAULT false NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

INSERT INTO marketplaces (id, code, marketplace_id, currency, iso) VALUES
        (1, 'US', 'ATVPDKIKX0DER', 'USD', 'en-US'),
        (2, 'CA', 'A2VIGQ35RCS4UG', 'CAD', 'fr-CA');

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

-- Running upgrade 0001_initial -> 0002_order_sync

ALTER TABLE orders ADD COLUMN updated_at TIMESTAMP WITH TIME ZONE;

CREATE INDEX idx_orders_purchase_date ON orders (purchase_date);

ALTER TABLE order_items ADD CONSTRAINT uq_order_item UNIQUE (order_id, asin, seller_sku);

ALTER TABLE pipeline_runs DROP COLUMN marketplace_id;

ALTER TABLE pipeline_runs ADD COLUMN marketplace_code VARCHAR(3) DEFAULT '' NOT NULL;

INSERT INTO sellers (name, story, credentials_ref, created_at) VALUES ('Demo Seller', 'Environment-wired SP-API credentials', 'env:SP_API', now());

INSERT INTO spapi_creds (seller_id, auth_model, client_id_arn, iam_role_arn, merchant_token_arn, status) SELECT id, 'key', 'env:SP_API', '', '', 'active' FROM sellers WHERE name = 'Demo Seller';

UPDATE alembic_version SET version_num='0002_order_sync' WHERE alembic_version.version_num = '0001_initial';

-- Running upgrade 0002_order_sync -> 0003_reports

ALTER TABLE settlements ADD CONSTRAINT uq_settlement_period UNIQUE (marketplace_id, posted_date);

CREATE TABLE settlement_lines (
    id SERIAL NOT NULL, 
    settlement_id INTEGER NOT NULL, 
    product_id INTEGER NOT NULL, 
    asin VARCHAR(10) DEFAULT '' NOT NULL, 
    sku VARCHAR(80) DEFAULT '' NOT NULL, 
    order_id VARCHAR(40) DEFAULT '' NOT NULL, 
    units INTEGER DEFAULT '0' NOT NULL, 
    revenue NUMERIC(12, 2), 
    fees NUMERIC(12, 2), 
    net NUMERIC(12, 2), 
    currency VARCHAR(3) NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_settlement_line UNIQUE (settlement_id, order_id, sku), 
    FOREIGN KEY(settlement_id) REFERENCES settlements (id) ON DELETE CASCADE, 
    FOREIGN KEY(product_id) REFERENCES products (id)
);

CREATE INDEX idx_settlement_lines_product ON settlement_lines (product_id);

CREATE INDEX idx_settlements_posted ON settlements (posted_date);

UPDATE alembic_version SET version_num='0003_reports' WHERE alembic_version.version_num = '0002_order_sync';

COMMIT;

